:root {
  --preto-05: #f5f5f5;
  --preto-100: #464646;
  --preto-branco: #fff;
  --azul-10: #eaf2fd;
}

body {
  background-color: #f5f5f5;
}

.contenedor {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
}

@media screen and (min-width: 1024px) {
  .contenedor {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
}
