.formacion__contenido {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 40px;
}

.formacion__img {
  display: flex;
  width: 348px;
  height: 266px;
  background-color: var(--preto-branco);
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.formacion__items {
  display: flex;
  flex-direction: column;
}

.formacion__items h3 {
  color: var(--preto-100);
  font-size: 22px;
  font-weight: 700;
  margin-top: 0.5rem;
}

.formacion__items p {
  color: var(--preto-100);
  font-weight: 500;
  margin-top: 0.5rem;
}
