.menu__link {
  margin-right: 1.25rem;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  color: var(--preto-100);
}

.menu__link-activo {
  margin-right: 1.25rem;
  color: var(--preto-100);
  font-style: normal;
  font-weight: 700;
  font-family: DM Sans;
}
